#contact {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-container {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}