* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(13, 13, 13); /* Fondo oscuro */
  color: white;
  font-family: Arial, sans-serif;
}

.container_Contact {
  padding: 5px 10px;
  text-align: center;
  color: #ffffffcb;
  margin-left: 45vh;
  border-left: 1px solid #ffffff1a;
  height: 100vh;
  width: 100vh;
}

.container_Info {
  overflow-y: scroll;
}

.formContainer {
  height: 100%;
  width: 300px;
  margin-left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.formContainer > label {
  font-family: Basier Square;
  font-weight: 900;
  font-size: 15px;
  color: rgb(99, 99, 99);
  text-align: start;
  align-self: flex-start;
  transition: all 0.3s ease;
}

.formContainer > input,
.formContainer > textarea {
  width: 100%;
  border-radius: 10px;
  font-weight: 900px;
  background-color: transparent;
  color: rgb(99, 99, 99);
  border: 2px solid rgb(85, 85, 85);
  font-size: 15px;
  font-family: Basier Square;
  padding-left: 10px;
  transition: all 0.3s ease;
  z-index: 5;
}

/* Ajustar la altura específica del textarea */
.formContainer > textarea {
  height: 120px; /* Cambia este valor según sea necesario */
  padding: 10px; /* Agregar un padding adicional para multilineas */
  resize: none; /* Opcional: deshabilita el redimensionado */
}

.formContainer > input {
    height: 40px; /* Cambia este valor según sea necesario */
    padding: 10px; /* Agregar un padding adicional para multilineas */
    resize: none; /* Opcional: deshabilita el redimensionado */
  }

.formContainer > input:focus,
.formContainer > textarea:focus {
  color: rgb(197, 197, 197);
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.145),
    0px 0px 5px rgba(255, 255, 255, 0.145) inset;
}

.formContainer > input:focus + label,
.formContainer > textarea:focus + label {
  color: rgb(197, 197, 197);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.145);
}

/* Placeholder */
.formContainer > input::placeholder,
.formContainer > textarea::placeholder {
  color: rgb(85, 85, 85);
  transition: all 0.5s ease;
}

.formContainer > input:focus::placeholder,
.formContainer > textarea:focus::placeholder {
  color: rgb(150, 150, 150);
}
