/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: rgb(13, 13, 13);
  overflow: hidden;
  color: #fff;
  cursor: url("/assets/registro.png"), auto;
}

::selection {
  color: #e74c3c; /* Cambia este valor al color que desees para el texto seleccionado */
  background-color: transparent; /* Elimina el fondo de selección */
}

/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Menú a la izquierda y contenido al resto */
  height: 100vh; /* Ocupa toda la pantalla */
}

/* Menú */
.menu {
  background-color: rgb(13, 13, 13);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Cabecera del menú */
.menu-header {
  text-align: left;
  font-size: 14px;
}

.menu-header h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}

.menu-header p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 1;
}

.menu-list {
  list-style: none;
  position: absolute;
  top: 30vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  z-index: 100;
}

.menu-item {
  display: flex;
  align-items: center; /* Alinear verticalmente el guion con el texto */
  padding: 10px 0; /* Separación entre elementos */
  color: #fff; /* Color del texto */
  text-transform: uppercase; /* Texto en mayúsculas */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer;
  transition: color 0.3s ease; /* Transición suave para hover */
  text-align: left;
  width: 10px;
  cursor: none;
}

.menu-item::before {
  /* El guion encima del texto */
  position: absolute; /* Posicionarlo en relación al item */
  top: -10px; /* Posicionarlo encima del texto */
  left: 0; /* Alinear a la izquierda */
  color: #fff; /* Color del guion */
  font-size: 16px; /* Tamaño del guion */
  line-height: 1; /* Ajustar el espacio vertical */
  transition: color 0.3s ease; /* Transición suave para hover */
}

.menu-item.active::before {
  color: #e74c3c; /* Cambiar el color del guion cuando está activo */
}

.menu-item span {
  margin-right: 10px;
  color: #555;
}

.menu-item:hover {
  color: #e74c3c; /* Rojo al pasar */
  cursor: url("/assets/flecha.png"), auto;
  transition: 0.2s;
}

.menu-item.active {
  color: #e74c3c; /* Resaltar el activo */
}

/* Footer del menú */
.menu-footer {
  position: absolute;
  top: 75vh;
  justify-content: left;
  margin-left: -5vh;
  margin-bottom: -10vh;
}

.menu-footer .logo {
  width: 80px;
  height: auto;
}

/* Contenido principal */
.content {
  background-color: #0d0d0d;
  flex-grow: 1;
  transition: opacity 0.3s ease-in-out; /* Animación suave */
  opacity: 1;
}

.content.fade-out {
  opacity: 0; /* Desaparece */
}

.content.fade-in {
  opacity: 1; /* Aparece */
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease-in-out;
}

/* Estilos específicos para el mensaje de bienvenida */
.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(5, 4, 4);
  z-index: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 1s ease, background-color 1s ease;
}

.welcome-message video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-message.hidden {
  display: none;
}

.menu-toggle {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Visible solo en móviles */
    position: fixed; /* Necesario para posicionarlo relativo a la ventana */
    top: 5vh; /* Posición vertical a la mitad de la pantalla */
    left: 1vh;
    transition: left 0.3s ease-in-out;
    z-index: 20;
    transition: left 0.3s ease;
    background-color: transparent;
    border: 1px solid #5a5555c0;
  }
  .menu {
    left: -30vh; /* Escondido fuera de la pantalla */
    transition: left 0.3s ease-in-out; /* Animación suave para móvil */
    z-index: 10;
    position: fixed;
    top: 0;
    width: 30vh;
    height: 100%;
    background-color: rgb(13, 13, 13);
    overflow-y: none;
    color: white;
  }

  .content {
    background-color: #0d0d0d;
    width: 45vh;
    flex-grow: 1;
    transition: opacity 0.3s ease-in-out; /* Animación suave */
    opacity: 1;
  }

  .menu.show {
    left: 0;
  }

  .menu-toggle.show {
    left: 30vh; /* Visible solo en móviles */
    background-color: rgb(13, 13, 13);
  }
}
