/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(13,13,13);
  color: #fff;
  cursor: url('src/assets/registro.png'), auto;
}

/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Menú a la izquierda y contenido al resto */
  height: 100vh; /* Ocupa toda la pantalla */
}

/* Menú */
.menu {
  background-color: rgb(13,13,13);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Cabecera del menú */
.menu-header {
  text-align: left;
  font-size: 14px;
}

.menu-header h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}

.menu-header p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 1;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.menu-item {
  display: flex;
  align-items: center; /* Alinear verticalmente el guion con el texto */
  padding: 10px 0; /* Separación entre elementos */
  color: #fff; /* Color del texto */
  text-transform: uppercase; /* Texto en mayúsculas */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer;
  transition: color 0.4s ease; /* Transición suave para hover */
  text-align: left;
  width: 10px;
  cursor: none;
}

.menu-item::before {
  content: "—"; /* El guion encima del texto */
  position: absolute; /* Posicionarlo en relación al item */
  top: -10px; /* Posicionarlo encima del texto */
  left: 0; /* Alinear a la izquierda */
  color: #fff; /* Color del guion */
  font-size: 16px; /* Tamaño del guion */
  line-height: 1; /* Ajustar el espacio vertical */
  transition: color 0.3s ease; /* Transición suave para hover */
}

.menu-item.active::before {
  color: #e74c3c; /* Cambiar el color del guion cuando está activo */
}

.menu-item span {
  margin-right: 10px;
  color: #555;
}

.menu-item:hover {
  color: #e74c3c; /* Rojo al pasar */
  cursor: url('src/assets/flecha.png'), auto;
  transition: 0.3s;
}

.menu-item.active {
  color: #e74c3c; /* Resaltar el activo */
}

/* Footer del menú */
.menu-footer {
  display: flex;
  justify-content: center;
}

.menu-footer .logo {
  width: 80px;
  height: auto;
}

/* Contenido principal */
.content {
  padding: 40px;
  background-color: #111;
}

